@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

*{
  margin: 0;
  padding: 0;
  transition: all .3s ease;
}

body{
  font-family: "Roboto", sans-serif;
  background-color: #0B0C13;
  overflow-x: hidden;
}

/* .banner video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media(min-aspect-ratio: 16/9){
  .banner video{
    width: 100%;
    height: auto;
  }
} */

.imgGirl{
  width: 100vw;
  height: 593px;
  background: url(cyberpunk.jpeg), #D9D9D9;
  flex: none;
  order: 0;
  flex-grow: 0;
  object-fit: cover;
  margin-top: 78px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
}

.imgGirl.fade {
  opacity: 0;
  transform: scale(1.05); /* Efek zoom kecil selama transisi */
}

.shadowBox{
  position: absolute;
  width: 100%;
  height: 127px;
  top: 628px;
  background: linear-gradient(32deg, #0B0C13 32.79%, rgba(11, 12, 19, 0.29) 136.96%);
  filter: blur(52.5px);
}

.content-text{
  position: absolute;
  top: 170px;
  margin-left: 100px;
  z-index: 2;
  max-width: 650px;
  font-family: "Playfair Display", serif;
}

.content-text h1{
  font-size: 38px;
  background-image: -webkit-linear-gradient(200deg, #DC00D3 70%, #BF1923 47%);
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;  
  margin-bottom: 20px;       
}

.content-text h1 span{
  margin-left: 33px;
}

.content-text p{
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
}


.buttons .btn1{
  cursor: pointer;
  padding: 10px;
  border: 3px solid #F8F8F8;
  filter: drop-shadow(4px 4px 5.5px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
  background: transparent;
  color: #fff;
  font-weight: 600;
}

.buttons .btn1:hover{
  transform: scale(1.1);
  box-shadow: 6px 5px 68px 10px rgba(227,6,223,0.92);
-webkit-box-shadow: 6px 5px 68px 10px rgba(227,6,223,0.92);
-moz-box-shadow: 6px 5px 68px 10px rgba(227,6,223,0.92);
}

.Section1{
  background-color: #F5F6F5;
  height: 290px;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 40px;
}

.Section1 h2{
  color: #0D2612;
  text-transform: uppercase;
  padding-top: 50px;
}

.Section1 h2 span{
  color: #0BA42D;
}

.section1-content{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  color: #0B0C13;
}

.section1-content .item{
  display: flex ;
  align-items: center;
  margin-inline: auto;
  margin: 20px;
}

.section1-content .item img{
  height: 50px;
  margin-right: 20px;
}

.section1-content .item p{
  text-align: start;
}

.item::after{
  content: '';
  width: 3px;
  height: 50px;
  background-color: #14FF00;
  margin-left: 50px;
}

.item:nth-child(3)::after{
  display: none;
}

.item p span{
  font-weight: bold;
}

.products{
  margin-top: 150px;
  width: 1200px;
  border-bottom: solid 3px white;
  margin-inline: auto;
  padding-bottom: 15px;
  position: relative;
}

.products .underline{
  width: 110px;
  transform: translateY(10px);
  height: 12px;
  background-color: #21D511;
  position: absolute;
  left: 40px;
  
}

.products ul{
  display: flex;
  color: white;
  list-style: none;
  margin-left: 40px;
}

.products ul li{
  margin-inline: 20px;
  text-transform: uppercase;
}



